* {
    box-sizing: border-box;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    max-height: 100%;
}

main {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color: #efefef;
}

img {
    max-width: 100%;
}

.contain {
    margin-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.style-header {
    height: 70px;
}

.logo-menu img {
    height: 40px;
}

.FormSearch {
    width: 100%;
    box-shadow: rgb(98 98 98 / 50%) 0px 1px 2px 0;
    height: 40px;
    padding: 0px;
}

.FormSearch__input {
    font-size: 13px;
    border-radius: 2px 0 0 2px;
    width: 85%;
    height: 100%;
    border: 0px;
    outline: none;
    display: flex;
}

.FormSearch__button {
    cursor: pointer;
    border: 0px;
    width: 22%;
    background: rgb(13, 92, 182);
    height: 40px;
    border-radius: 0px 2px 2px 0px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.iconSearch {
    height: 20px;
}

.Cart-container {
    margin-right: -25px;
    margin-top: 21px;
}

.Cart-icon {
    height: 30px;
}

.Cart-item-quantity {
    color: rgb(36, 36, 36);
    background: rgb(253, 216, 53);
    height: 20px;
    top: -20%;
    right: 20%;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    padding: 0px 7px;
}

.row {
    margin: 0;
}

.Cart-wrapper {
    margin-right: -9px;
}

.Cart-text {
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.banner-wrapper {
    height: 280px;
}
.img {
    height: 95%;
    width: 100%;
}

.w-1o5 {
    width: 20%;
}

.plr-0 {
    padding-left: 0;
    padding-right: 0;
}

.header-left {
    width: 50%;
}

.navigation {
    margin-left: auto;
}

.price-text {
    color: rgb(255, 66, 78);
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 8px 0px 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
}

#home_deal {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    overflow: hidden;
}

.deal {
    padding: 12px;
    z-index: 1;
}

.price-discount__price {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.price-discount__discount {
    padding: 0px 2px;
    line-height: 14px;
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
    border: 1px solid rgb(255, 66, 78);
    border-radius: 2px;
    background-color: rgb(255, 240, 241);
    color: rgb(255, 66, 78);
}

.h-100 {
    height: 100%;
}

.Ad-wrap {
    height: 160px;
}

.quicklink-wrap {
    background: white;
    border-radius: 4px;
    text-align: center;
}

.item img {
    height: 48px;
}

.item span {
    margin-top: 12px;
    font-size: 13px;
    line-height: 1.54;
    color: rgb(36, 36, 36);
    ext-overflow: ellipsis;
    overflow: hidden;
}

.suggestion-wrap {
    background: rgb(245, 245, 250);
    margin-top: 16px;
    border-radius: 4px;
}

.header h2 {
    background-color: white;
    padding: 10px 16px;
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
    margin-bottom: 4px;
    border-radius: 4px;
}